[Unit]
Description=ShellHub agent
Wants=network.target
After=local-fs.target network.target time-sync.target
Requires=local-fs.target

[Service]
EnvironmentFile=/etc/default/shellhub-agent
ExecStart=@BINDIR@/shellhub-agent
Restart=on-failure

[Install]
WantedBy=multi-user.target
